:root {
	--primaryColor: rgb(218, 165, 32);
	--secondaryColor: rgba(30, 28, 100, 1);
	--tertiaryColor: rgba(225, 225, 225, 0.7);
	--altPrimary: rgba(218, 165, 32, 0.4);
	--altSecondary: rgba(30, 28, 100, 0.4);
}

.noBg {
	background: rgba(red, green, blue, 0);
}

.mainBg {
	background-image: url(./assets//images/sumBg.jpg);
	min-height: 100%;
	min-width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
