:root {
  --primaryColor: rgb(218, 165, 32);
  --secondaryColor: rgba(30, 28, 100, 1);
  --tertiaryColor: #39a6b2;
  --altPrimary: #7510f7;
  --altSecondary: rgba(30, 28, 100, .7);
}

.noBg {
	background: rgba(red, green, blue, 0);
}

.mainBg {
	background-image: url(./assets//images/sumBg.jpg);
	min-height: 100%;
	min-width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
